* {
	border: 0;
	margin: 0em auto;
	padding: 0em;
}

h1, h2, h3, h4, h5 {
	color: black;
	font-family: Verdana;
}

h1 {
	font-size: 1.5em;
	text-align: center;

}

h2 {
	font-size: 1em;
}

table, tr, th, td {
	/* border-collapse: colapse;	/* separate */
    /*border-collapse: expression("separate", cellSpacing = "5px");*/
	border: .5px solid #000;
	border-color: black;
}

tr, th, td {
	margin: .25em;
	padding: .25em;

}

th {
    background-color: #E6E6E6;
    color: #727374;
    font-size: 12px;
    border: 2px solid #D1D0C6;
    border-collapse: collapse;
    font-family: "Century Gothic";
}

td {
    color: #000;
    font-size: 8pt;
    border: 2px solid #D1D0C6;
    border-collapse: collapse;
    font-family: "Century Gothic";
}

td, .price {
	text-align: center;
	vertical-align: center;
}

.price {
	text-align: right;
	vertical-align: center;
}
