* {
	border: 0;
	margin: 0em auto;
	padding: 0em;
}


#caja {
	display: table;
	padding: 7px;
}

div {
	border: 1px solid #a2a9b1;
	background: #f8f9fa;
	margin: 1.5em;
}

ul ul{
	margin: 0 0 0 2em;
}

li {
	list-style: none;
}

a  {
	text-decoration: none;
}